{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'exam/master.css' %}">
  </head>
<body>

  <div class="exam-detail">
    <p class="alert alert-info exam_info" role="alert">{{quiz.title}}</p>

    <form class="" action="/action_page.php">
      {% for question in questions %}
      <div class="jumbotron question">
        <p>:{{question.title}}</p>
        <label for="1">{{question.answer_one}}</label>
        <input type="radio" id="answer_one" name="{{question.pk}}" value="1"><br>
        <label for="2">{{question.answer_two}}</label>
        <input type="radio" id="answer_two" name="{{question.pk}}" value="2"><br>
        <label for="3">{{question.answer_three}}</label>
        <input type="radio" id="answer_three" name="{{question.pk}}" value="3"><br>
        <label for="4">{{question.answer_four}}</label>
        <input type="radio" id="answer_four" name="{{question.pk}}" value="4">
      </div>
      {% endfor %}
        <div class="btn-exam-submit">
        <input type="submit" class="btn btn-primary" value="پایان آزمون">
      </div>
    </form>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>

</body>
</html>
