{% extends 'exam/base.html' %}

{% block title %}{{quiz.title}}{% endblock %}

{% block content %}
  <div class="exam-detail">
    <p class="alert alert-info exam_info" role="alert">{{quiz.title}}</p>

    <form class="" action="{% url 'exam:quiz_result' quiz.slug %}" method="post">{% csrf_token %}
      {% for question in questions %}
      <div class="jumbotron question">
        <p>{{question.title}}</p>
        <label for="1">{{question.answer_one}}</label>
        <input type="radio" id="answer_one" name="{{question.pk}}" value="1"><br>
        <label for="2">{{question.answer_two}}</label>
        <input type="radio" id="answer_two" name="{{question.pk}}" value="2"><br>
        <label for="3">{{question.answer_three}}</label>
        <input type="radio" id="answer_three" name="{{question.pk}}" value="3"><br>
        <label for="4">{{question.answer_four}}</label>
        <input type="radio" id="answer_four" name="{{question.pk}}" value="4">
      </div>
      {% endfor %}
        <div class="btn-exam-submit">
        <input type="submit" class="btn btn-primary" value="پایان آزمون">
      </div>
    </form>
  </div>
{% endblock %}
